@using Taekwondo.Data.Entities
@{
	Layout = "_Layout";
	if (!(ViewBag.List is List<TrainingOrganizationTeacher> list))
	{
		list = new List<TrainingOrganizationTeacher>();
	}
}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<a href="javascript:void(0);">教师管理</a>	
			</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="page-content-area">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<table width="100%" class="CSSearchTbl" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>

										<td class="left" style="width: 20%;"><input type="text" id ="commontext"  placeholder="手机号或者名称" value="@Context.Request.Query["commontext"]" size="16" style="width: 20%;"></td>
										<td class="right"  style="width: 3%;">
											<button class="btn btn-primary pull-left col-sm-12 tbl-search" data-dismiss="modal">搜索</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="hr hr-18 dotted hr-double"></div>
							<div class="table-responsive">
								<table id="sample-table-2" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>名称</th>
											<th>手机号</th>
											<th>开通时间</th>
										</tr>
									</thead>
									<tbody>
											@foreach (var m in list)
											{
												<tr>
												<th>@m.TeacherName</th>
												<th>@m.Mobile</th>
												<th>@m.CreatedAt.ToString()</th>
												</tr>

											}
									</tbody>
								</table>
								<div class="modal-footer no-margin-top">
									<ul class="pagination pull-right no-margin">
										@Html.Raw(ViewBag.Page as string)
																	</ul>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<script type="text/javascript">
		$(".tbl-search").on("click", function() {
			var text = $("#commontext").val();
			window.location.href = "/mgr/teacherindex?commontext=" + text;
		})
	</script>
}
